body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
}

#jogador-info, #acao {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

#resultado {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
